<h2>忘记密码?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <div><%= f.submit "给我重置密码指令" %></div>
<% end %>

<%= render "devise/shared/links" %>
