<!DOCTYPE html>
<html>
<head>
  <title>Ibiancheng</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <% if user_signed_in? %>
    <ul>
      <li><%= link_to "首页", root_path %></li>
      <li><%= link_to "编辑个人资料", edit_user_registration_path %></li>
      <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% end %>
  
<%= yield %>

</body>
</html>
